/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/dashboard/dashboard-app.css
/public/js/app.js
/public/js/dashboard/dashboard-app.js
/public/js/dashboard/dashboard-app-vue.js
/public/js/dashboard/bundle.min.js
/public/js/dashboard/bundle.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.php-cs-fixer.cache
